<html>
    <head>
        <title>Customer App</title>
    </head>
    <body>
        <h2> <%= mainheader %></h2>
        <% users.forEach(function(user){%>
            <li> <%= user.name %></li>
        <% }) %>
    </body>
</html>

